# Week 2 : Basic of Data Wrangling features

## Creating DataFrame

In [1]:
import pandas as pd

In [3]:
data={'Name':['Alice','Bob','Charlie'],
      'Age':[24,27,22],
      'City':['New York','Los Angeles','Chicago']}

In [4]:
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

## Reading CSV File

In [5]:
import pandas as pd
df=pd.read_csv('S:\DAS\Sample_data.csv')
print(df.head())

  Emplyee Name  Age Department   Region  Sales Amount
0      Abirami   25    Finance   Trichy          2357
1       Aarthy   20    Finance   Trichy          7535
2  Sarathibala   30  Marketing  Chennai          2346
3     Kirthika   26  Marketing   Trichy          4316
4       Naveen   28  Marketing   Trichy          6427

## Data Cleaning

In [7]:
import pandas as pd
df=pd.DataFrame({'A':[1,2,None,4],
                'B':[None,2,3,4]})
df_cleaned=df.dropna()
print(df_cleaned)

     A    B
1  2.0  2.0
3  4.0  4.0

## Filtering Data

In [8]:
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
filtered_df=df[df['A']>2]
print(filtered_df)

   A  B
2  3  7
3  4  8

## Grouping Data

In [12]:
df=pd.DataFrame({'A':['foo','bar','foo','bar'],
                 'B':[1,2,3,4]})
grouped=df.groupby('A').sum()
print(grouped)

     B
A
bar  6
foo  4

## Merging DataFrame

In [13]:
df1=pd.DataFrame({'A':['foo','bar'],
                 'B':[1,2]})

In [14]:
df2=pd.DataFrame({'A':['foo','bar'],
                  'C':[3,4]})

In [16]:
merged_df=pd.merge(df1,df2,on='A')
print(merged_df)

     A  B  C
0  foo  1  3
1  bar  2  4